@font-face {
    font-family: "transformers";
    src: url(/src/assets/fonts/Transformers\ Movie.ttf);
}

body {
    background: url(/defenses.jpeg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#pageHeader {
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-family: transformers;
}

#pageNavigation {
    border: 1px solid black;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: transformers;
}

#pageNavigation a {
    color: white;
}

#pageNavigation a.active {
    background-color: green;
    pointer-events: none;
}